{% extends 'base.html.twig' %}

{% block title %}PatchCycle index{% endblock %}

{% block body %}
    <h1>PatchCycle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>CycleId</th>
                <th>Status</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>AppliedDate</th>
                <th>Cvss</th>
                <th>Info</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patch_cycle in patch_cycles %}
            <tr>
                <td>{{ patch_cycle.cycleId }}</td>
                <td>{{ patch_cycle.status }}</td>
                <td>{{ patch_cycle.description }}</td>
                <td>{{ patch_cycle.deadline ? patch_cycle.deadline|date('Y-m-d') : '' }}</td>
                <td>{{ patch_cycle.appliedDate ? patch_cycle.appliedDate|date('Y-m-d') : '' }}</td>
                <td>{{ patch_cycle.cvss }}</td>
                <td>{{ patch_cycle.info }}</td>
                <td>
                    <a href="{{ path('app_patch_cycle_show', {'cycleId': patch_cycle.cycleId}) }}">show</a>
                    <a href="{{ path('app_patch_cycle_edit', {'cycleId': patch_cycle.cycleId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_patch_cycle_new') }}">Create new</a>
{% endblock %}
